{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
  {% if form.errors %}
    <p class="errornote">
      Please enter the correct username and password for a staff account.
    </p>
  {% endif %}

  <form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}

    <div>
      {{ form.username.label_tag }} {{ form.username }}
    </div>

    <div>
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}">
    </div>

    <div class="submit-row">
      <input type="submit" value="Log in">
    </div>
  </form>
</div>
{% endblock %}