{% extends "admin/base.html" %}
{% load static %}

{% block title %}Mega Sewa Global Admin{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<div class="msg-admin-topbar">
    <div class="msg-admin-brand">
        <div class="msg-admin-logo-box">
            <img src="{% static 'images/msg.png' %}" alt="Mega Sewa Global Logo" class="msg-admin-logo">
        </div>

        <div class="msg-admin-brand-text">
            <h1 id="site-name">
                <a href="{% url 'admin:index' %}">Mega Sewa Global Admin</a>
            </h1>
            <p>Smart machine management dashboard</p>
        </div>
    </div>
</div>
{% endblock %}

{% block usertools %}
{% if has_permission %}
<div id="user-tools">
    <span>Welcome, {{ user.get_username }}</span>
    {% if site_url %}
        <a href="{{ site_url }}">View Site</a>
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">Change Password</a>
    {% endif %}
    <a href="{% url 'admin:logout' %}">Log out</a>
</div>
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}